__pycache__/
*.pyc
*.pyo
*.Zone.Identifier
*:Zone.Identifier
data/raw/*
data/work/*
data/encrypted/*
data/recovered/*
results/dacp_data/*
data/products/*
results/dacp_marketplace/*
!data/raw/.gitkeep
!data/work/.gitkeep
!data/encrypted/.gitkeep
!data/recovered/.gitkeep
!data/products/.gitkeep
!results/dacp_data/.gitkeep
!results/dacp_marketplace/.gitkeep
!results/dacp_marketplace/credit_fraud/
results/dacp_marketplace/credit_fraud/*
!results/dacp_marketplace/credit_fraud/.gitkeep
